build/

# Unity
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Bb]uilds/
unity/[Ll]ogs/
unity/[Uu]serSettings/
unity/[Mm]emoryCaptures/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.unityproj
*.tmp
